.ingrese{
    margin: 50px auto ;
    margin-top: 100px;
    text-align: center;
    color: aliceblue;
    font-size: 2.5rem;
}
.newCat{
    float: right;
}
.setColor{    
    width: 90%;
    height: 40px;
    margin: 30px 0;
}
.colorTit {
    width: 200px;
    padding-right: 15px;
    color: aliceblue;
    font-size: 1.5rem;
}

@media (max-width:950px){
    .ingrese{
        margin: 20px auto;
        /* margin-top: 50px; */
        font-size: 2rem;
    }
    .colorTit{
        font-size: 1.3rem;
    }
}
@media (max-width:741px){
    .setColor{    
       margin: 15px 0;
    }
}
@media (max-width:395px){
    .newCat{
        float: left;
    }
}