.categoria_indice{
    margin-top: 50px;
    width: 100%;
}
.item{
    display: flex;
    color: aliceblue;           
    justify-content: center;
}
.i_item{
    padding: 10px 0;
    font-size: 1.3rem;
    text-align: center;
    border: 1px solid aliceblue;
}
.i_title{
    width: 30%;
    text-transform: uppercase;
}
.i_color{
    width: 30%;
}
.i_modify{
    width: 20%;
    cursor: pointer;
    background-color: rgba(6, 250, 6, 0.2);
}
.i_delete{
    width: 20%;
    cursor: pointer;
    background-color: rgba(165, 42, 42, 0.5);
}
.i_modify:hover, .i_delete:hover{
    color: cornflowerblue;
}