.footer{
    margin-top: 70px;
    border-top: 2px solid rgb(72, 255, 0);
    display: flex;
}
.fitdance{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.footer img{
    margin: 20px auto;
}
@media (max-width:450px){
    .fitdance{
        display: none;
    }
    .fitflix{
        height: 50px;
    }
}