.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px; 
    height: 70px;
}
.header img{
    width: 168.45px;
    height: 40px;
    cursor: pointer;
}

@media (max-width:500px){
    .header{
        flex-direction: column;
        height: 100px;
    }
}